
ADR_STUDENTS_2017_2018_DATA_TABLE.csv
ADR_STUDENTS_2017_2018_DATA_TABLE.csv
ADR_STUDENTS_2017_2018_DATA_TABLE.csv
*.pyc
DjangoWeb/DjangoWeb/__pycache__/settings.cpython-37.pyc
DjangoWeb/DjangoWeb/__pycache__/urls.cpython-37.pyc
DjangoWeb/DjangoWeb/__pycache__/urls.cpython-37.pyc
DjangoWeb/db.sqlite3
ADR_STUDENTS_2017_2018_DATA_TABLE.csv
.vscode/settings.json
*.pyc
DjangoWeb/UploadingFile/__pycache__/models.cpython-37.pyc
DjangoWeb/DjangoWeb/__pycache__/__init__.cpython-37.pyc
