<!-- indu 15 may -->
{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<form>


    <!--
    <div class="container mt-5">
    <div class="form-row">
        <div class="form-group col-md-4">
              <label for="inputState">Program's</label>
              <select id="inputState" class="form-control">
                <option selected>Choose...</option>
                  {% for item in query_results %}
                    <option>{{ item.PRG }}</option>
                  {% endfor %}
              </select>
        </div>

        <div class="form-group col-md-4">
              <label for="inputState">Ville</label>
              <select id="inputState" class="form-control">
                <option selected>Choose...</option>
                {% for item in query_results %}
                    <option>{{ item.VILLE }}</option>
                  {% endfor %}
              </select>
        </div>

        <div class="form-group col-md-4">
              <label for="inputState">Code Postal</label>
              <select id="inputState" class="form-control">
                <option selected>Choose...</option>
                {% for item in query_results %}
                    <option>{{ item.CODE_POSTAL }}</option>
                  {% endfor %}
              </select>
        </div>

        <div class="form-group col-md-4">
              <label for="inputState">Remuneration</label>
              <select id="inputState" class="form-control">
                <option selected>Choose...</option>
                {% for item in query_results %}
                    <option>{{ item.REMUNERATION }}</option>
                  {% endfor %}
              </select>
        </div>

        <div class="form-group col-md-4">
              <label for="inputState">Year's from</label>
              <select id="inputState" class="form-control">
                <option selected>Choose...</option>
                {% for item in query_results %}
                    <option>{{ item.ANNEE_SCOLAIRE }}</option>
                  {% endfor %}
              </select>
        </div>
           <div class="form-group col-md-4">
              <label for="inputState">Year's To</label>
              <select id="inputState" class="form-control">
                <option selected>Choose...</option>
                {% for item in query_results %}
                    <option>{{ item.ANNEE_SCOLAIRE }}</option>
                  {% endfor %}
              </select>
        </div>

        <div class="form-group">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="gridCheck">
              <label class="form-check-label" for="gridCheck">
                Check me out
              </label>
            </div>
        </div>
        <button type="submit" class="btn btn-primary"> Search </button>
-->

      <div class="container mt-5">
        <div class="form-row">
            <div class="form-group col-md-4">
                  <label for="inputState">Program's</label>
                  <select id="inputState" class="form-control">
                    <option selected>Choose...</option>
                      {% for item in prg %}
                        <option>{{ item }}</option>
                      {% endfor %}
                  </select>
            </div>

        <div class="form-group col-md-4">
          <label for="inputState">Ville</label>
          <select id="inputState" class="form-control">
            <option selected>Choose...</option>
            {% for item in ville %}
                <option>{{ item }}</option>
              {% endfor %}
          </select>
        </div>

        <div class="form-group col-md-4">
          <label for="inputState">Code Postal</label>
          <select id="inputState" class="form-control">
            <option selected>Choose...</option>
            {% for item in cp %}
                <option>{{ item }}</option>
              {% endfor %}
          </select>
        </div>


        <div class="form-group col-md-4">
          <label for="inputState">Remuneration</label>
          <select id="inputState" class="form-control">
            <option selected>Choose...</option>
            {% for item in rem %}
                <option>{{ item }}</option>
              {% endfor %}
          </select>
        </div>

        <div class="form-group col-md-4">
          <label for="inputState">Year's from</label>
          <select id="inputState" class="form-control">
            <option selected>Choose...</option>
            {% for item in year %}
                <option>{{ item }}</option>
              {% endfor %}
          </select>
        </div>

        <div class="form-group col-md-4">
          <label for="inputState">Year's To</label>
          <select id="inputState" class="form-control">
            <option selected>Choose...</option>
            {% for item in year %}
                <option>{{ item }}</option>
              {% endfor %}
          </select>
        </div>
 </div>
        <div class="form-group">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="gridCheck">
          <label class="form-check-label" for="gridCheck">
            Check me out
          </label>
        </div>
    </div>
        <button type="submit" class="btn btn-primary"> Search </button>


    </div>

<!--
    <input id="datepicker" width="276" />

    <script type="text/javascript">
       $(function () {
           $("#datepicker").datepicker({
            format: " yyyy",
            viewMode: "years",
            minViewMode: "years"
            });
        });
    </script>
-->



</form>





{% endblock content %}
