{% extends "base.html" %}
{% load static %}


<script>
{% block jquery %}
$.ajax({
    success: function(data) {
        setchart()
    },
    error: function(error_data){
        console.log("error")
        console.log(error_data)
    }
})
prgcolorset = [
    'rgba(73,170,30,0.4)',
    'rgba(50, 106, 21,0.4)',
    'rgba(219, 58, 29,0.4)',
    'rgba(150, 58, 29, 0.4)',
    'rgba(60, 206, 209, 0.4)',
    'rgba(60, 157, 209, 0.4)',
    'rgba(60, 90, 209, 0.4)',
    'rgba(280, 243, 36, 0.4)',
    'rgba(230, 243, 36, 0.4)',
]
prgcolorborderset =[
    'rgba(73,170,30,1)',
    'rgba(50, 106, 21,1)',
    'rgba(219, 58, 29, 1)',
    'rgba(150, 58, 29, 1)',
    'rgba(60, 206, 209, 1)',
    'rgba(60, 157, 209, 1)',
    'rgba(60, 90, 209, 1)',
    'rgba(280, 243, 36, 1)',
    'rgba(230,243, 36, 1)',

]
function setchart() {
    var ctx = document.getElementById('myChart').getContext('2d');
    ctx.shadowBlur=20;
    ctx.shadowColor="black";
    var myChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels:[
                {% for year in STUyear %}
                  {{ year }},
                {% endfor %}
                  ] ,
                datasets: [{
                    label: '# of students',
                    data: {{ DATAGRAPH }},
            backgroundColor: '#9ccc65' ,
            borderColor: '#33691e',
            borderWidth: 3
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        },

        title: {
            display: false,
            text: 'Students per year'
        },

        legend: {
            display: true,
            position:'bottom',
        },
        tooltips: {
            mode: 'x'
        }
    }
});

}
function piechart() {
    var ctx = document.getElementById('piechart').getContext('2d');
    var pieChart = new Chart(ctx, {
    type: 'doughnut',
    data:{
        labels: ['Cergy','Pau'],
        datasets: [{
                    label: '% of students',
                    data: {{ D_stddist }},
            backgroundColor: ['#ffee58','#ffa726'],
            borderColor: '#33691e',
            borderWidth: 3,
        }]
    },
    options: {



        title: {
            display: false,
            text: 'Students in Campus'
        },
        legend:{
            display:true,
            position:'bottom',
        },
    },
    plugins:{
        labels: {
            render: 'percentage',
            fontColor: ['green', 'white'],
            precision: 2
            }




    }
});
}
function setchart2() {
    var ctx = document.getElementById('myChart2').getContext('2d');
    ctx.shadowBlur=20;
    ctx.shadowColor="black";
    var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
      labels: ['ADEO1', 'ADEO2' ,'CPI1' ,'CPI2', 'ING1' ,'ING2' ,'ING3' ,'MobM2' ,'QFRM1' ,'QFRM2'], <!--put the prg-->
      datasets: [{
          label: "Cergy(Amount of students)",
          type: "line",
          borderColor: '#26c6da',
          data: {{ D_cergyc }},
          fill: false
        },
          {
          label: "Pau(Amount of students)",
          type: "line",
          borderColor: '#5c6bc0',
          data: {{ D_pauc }},
          fill: false
        },
          {
          label: "Cergy(Mean salary)",
          type: "bar",
          backgroundColor: '#ffe082',
          data: {{ D_cergys }},
        }, {
          label: "Pau(Mean salary)",
          type: "bar",
          backgroundColor: '#bf360c',
          backgroundColorHover: '#ffab91',
          data:{{ D_paus }},
        }

      ]
    },
    options: {
      title: {
        display: false,
        text: 'Population growth (millions): Europe & Africa'
      },
      legend: { display: true ,
                position:'bottom'},
      plugins: {
          labels: false
      }
    }
});

}

var margin = {top: 80, right: 10, bottom: 80, left: 150},
  width = 800 - margin.left - margin.right,
  height = 800 - margin.top - margin.bottom;

// append the svg object to the body of the page
var svg = d3.select("#my_dataviz")
.append("svg")
  .attr("width", width + margin.left + margin.right)
  .attr("height", height + margin.top + margin.bottom)
.append("g")
  .attr("transform",
        "translate(" + margin.left + "," + margin.top + ")");

//Read the data
//d3.csv("https://raw.githubusercontent.com/holtzy/D3-graph-gallery/master/DATA/heatmap_data.csv", function(data) {
  d3.csv('{%  static 'indu.csv' %}', function(data) {
  // Labels of row and columns -> unique identifier of the column called 'group' and 'variable'
  var myGroups = d3.map(data, function(d){return d.group;}).keys()
  var myVars = d3.map(data, function(d){return d.variable;}).keys()

  // Build X scales and axis:
  var x = d3.scaleBand()
    .range([ 0, width ])
    .domain(myGroups)
    .padding(0.1);
  svg.append("g")
    .style("font-size", 4)
    .attr("transform", "translate(0," + height + ")")
    .call(d3.axisBottom(x).tickSize(0))
    .select(".domain").remove()

  // Build Y scales and axis:
  var y = d3.scaleBand()
    .range([ height, 0 ])
    .domain(myVars)
    .padding(0.1);
  svg.append("g")
    .style("font-size", 15)
    .call(d3.axisLeft(y).tickSize(0))
    .select(".domain").remove()

  // Build color scale
  // https://bl.ocks.org/d3indepth/89ced137bece23b908cf51580d5e082d 
   var myColor = d3.scaleSequential().domain([0, 1]).interpolator(d3.interpolateWarm)
  //var myColor = d3.scaleLinear().range(["red", "#69b3a2"]).domain([-1,1])
   // var myColor = d3.scaleLinear().range(['Blue', '#69b3a2']).domain([-1,1]);
  //var mycolor= d3.scaleQuantize().domain([-1, 1]).range(["#fffaaa", "#e6f7ff", "#b3e6ff", "#99ddff", "#66ccff", "#4dc3ff", "#1ab2ff", "#0077b3", "#004466"]);

  // create a tooltip
  var tooltip = d3.select("#my_dataviz")
    .append("div")
    .style("opacity", 0)
    .attr("class", "tooltip")
    .style("background-color", "white")
    .style("border", "solid")
    .style("border-width", "2px")
    .style("border-radius", "5px")
    .style("padding", "5px")

  // Three function that change the tooltip when user hover / move / leave a cell
  var mouseover = function(d) {
    tooltip
      .style("opacity", 1)
    d3.select(this)
      .style("stroke", "black")
      .style("opacity", 1)
  }
  var mousemove = function(d) {
    tooltip
      .html("The exact value of<br>this cell is: " + d.value)
      .style("left", (d3.mouse(this)[1]) + "px")
      .style("bottom", (d3.mouse(this)[1]) + "px")
  }
  var mouseleave = function(d) {
    tooltip
      .style("opacity", 0)
    d3.select(this)
      .style("stroke", "none")
      .style("opacity", 1)
  }

  // add the squares
  
  svg.selectAll()
    .data(data, function(d) {return d.group+':'+d.variable;})
    .enter()
    .append("rect")
      .attr("x", function(d) { return x(d.group) })
      .attr("y", function(d) { return y(d.variable) })
      .attr("width", x.bandwidth() )
      .attr("height", y.bandwidth() )
      .style("fill", function(d) { return myColor(d.value)} )
    .on("mouseover", mouseover)
    .on("mousemove", mousemove)
    .on("mouseleave", mouseleave)
})


// Add subtitle to graph
svg.append("text")
        .attr("x", 0)
        .attr("y", -20)
        .attr("text-anchor", "left")
        .style("font-size", "14px")
        .style("fill", "grey")
        .style("max-width", 400)
        .text("A short description of the take-away message of this chart.");
{% endblock %}
</script>






{% block content %}


    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
      <h1 class="h2">Dashboard</h1>
      <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group mr-2">
          <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
          <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
        </div>
        <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
          <span data-feather="calendar"></span>
          This week
        </button>
      </div>
    </div>


<!-- <div id="map-container-google-2" class="z-depth-1-half map-container" >
  <iframe src="https://maps.google.com/maps?q=paris&t=&z=10&ie=UTF8&iwloc=&output=embed" frameborder="0"
    style="border:0" allowfullscreen></iframe>
</div>
<canvas class="my-4 w-100" id="myChart" width="900" height="380"></canvas> -->

<div class="row" >
          <div class="col-lg-3 col-md-5 col-sm-5 " >
            <div class="card card-stats" >
              <div class="card-body" >
                <div class="row">
                  <div class="col-2 col-md-3" >
                    <img  src="\static\images\record.png" height="40">
                  </div>
                  <div class="col-7 col-md-8">
                    <div class="numbers">
                      <p class="card-category">Number of </p>
                      <p class="card-title" style="color:#0c2646;  font-size:20px ; font-weight: bold ">
                        Records
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-footer ">
                <hr>
                <div class="stats" style="color: #d39e00;" >
                    {{ NUMBERLINES }}
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-5 col-sm-5">
            <div class="card card-stats">
              <div class="card-body ">
                <div class="row">
                  <div class="col-5 col-md-4">

                      <img  src="\static\images\student.png" height="40">

                  </div>
                  <div class="col-7 col-md-8">
                    <div class="numbers">
                      <p class="card-category">Number of </p>
                      <p class="card-title" style="color:#0c2646; font-size:20px ; font-weight: bold ">
                        Students
                        <p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-footer ">
                <hr>
                <div class="stats" style="color: #c82333;" >
                  {{ NUMBERSTU }}
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-5 col-sm-5">
            <div class="card card-stats">
              <div class="card-body ">
                <div class="row">
                  <div class="col-5 col-md-4">


                  </div>
                  <div class="col-7 col-md-8">
                    <div class="numbers">
                      <p class="card-category">Number of </p>
                      <p class="card-title" style="color:#0c2646; font-size:20px ; font-weight: bold ">
                            Enterprises
                        <p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-footer ">
                <hr>
                <div class="stats" style="color: #34ce57;">
                  {{ NUMENT }}
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-5 col-sm-5 " >
            <div class="card card-stats">
              <div class="card-body ">
                <div class="row">
                  <div class="col-5 col-md-4">
                      <img  src="\static\images\salary.png" height="40">
                  </div>
                  <div class="col-7 col-md-8">
                    <div class="numbers">
                      <p class="card-category" >Average of</p>
                      <p class="card-title" style="color:#0c2646; font-size:20px ; font-weight: bold ">
                        Salary
                        <p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-footer ">
                <hr>
                <div class="stats" style="color: #00bbff;">
                  12344
                </div>
              </div>

            </div>
          </div>

</div>
<div class="row">
    <div class="col-lg-4  text-center" >
            <div class="card-chart ">
              <div class="card-header ">
                <h5 class="card-title">Students Distribution</h5>
                <p class="card-category">In Campus</p>
              </div>
               <div class="inside-left">
                    <canvas class="my-4 w-10" id="piechart" width="100%" height="70"></canvas>
                 </div>
              </div>
            </div>


    <div class="col-lg-8 " >
        <div class="card-chart flex-column">
              <div class="card-header ">
                <h5 class="card-title">Salary and amount of students </h5>
                 <p class="card-category">per departments</p>
                <div class="inside">
                    <canvas class="my-4 w-10" id="myChart2" width="100%" height="30"  ></canvas>
                </div>
              </div>
        </div>
        <div class="card-chart flex-column">
              <div class="card-header ">
                <h5 class="card-title">Students per year</h5>
                  <p class="card-category">From 2014 til last year</p>
                  <div class="inside">
                    <canvas class="my-4 w-10" id="myChart" width="100%" height="25" ></canvas>
                </div>
            </div>
        </div>

        <div id="my_dataviz"></div>
    </div>
</div>

    

    
 <!--   Core JS Files   -->
  <script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>
  <script src="../static/assets/js/core/jquery.min.js"></script>
  <script src="../static/assets/js/core/popper.min.js"></script>
  <script src="../static/assets/js/core/bootstrap.min.js"></script>
  <script src="../static/assets/js/plugins/perfect-scrollbar.jquery.min.js"></script>

{% endblock %}