{% extends "base.html" %}


<script>
{% block jquery %}
$.ajax({
    success: function(data) {
        setchart()
    },
    error: function(error_data){
        console.log("error")
        console.log(error_data)
    }
})
prgcolorset = [
    'rgba(73,170,30,0.4)',
    'rgba(50, 106, 21,0.4)',
    'rgba(219, 58, 29,0.4)',
    'rgba(150, 58, 29, 0.4)',
    'rgba(60, 206, 209, 0.4)',
    'rgba(60, 157, 209, 0.4)',
    'rgba(60, 90, 209, 0.4)',
    'rgba(280, 243, 36, 0.4)',
    'rgba(230, 243, 36, 0.4)',
]
prgcolorborderset =[
    'rgba(73,170,30,1)',
    'rgba(50, 106, 21,1)',
    'rgba(219, 58, 29, 1)',
    'rgba(150, 58, 29, 1)',
    'rgba(60, 206, 209, 1)',
    'rgba(60, 157, 209, 1)',
    'rgba(60, 90, 209, 1)',
    'rgba(280, 243, 36, 1)',
    'rgba(230,243, 36, 1)',

]
function setchart() {
    var ctx = document.getElementById('myChart').getContext('2d');
    ctx.shadowBlur=20;
    ctx.shadowColor="black";
    var myChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels:[
                {% for year in STUyear %}
                  {{ year }},
                {% endfor %}
                  ] ,
                datasets: [{
                    label: '# of students',
                    data: {{ DATAGRAPH }},
            backgroundColor: '#9ccc65' ,
            borderColor: '#33691e',
            borderWidth: 3
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        },

        title: {
            display: false,
            text: 'Students per year'
        },

        legend: {
            display: true,
            position:'bottom',
        },
        tooltips: {
            mode: 'x'
        }
    }
});

}
function piechart() {
    var ctx = document.getElementById('piechart').getContext('2d');
    var pieChart = new Chart(ctx, {
    type: 'doughnut',
    data:{
        labels: ['Cergy','Pau'],
        datasets: [{
                    label: '% of students',
                    data: {{ D_stddist }},
            backgroundColor: ['#ffee58','#ffa726'],
            borderColor: '#33691e',
            borderWidth: 3,
        }]
    },
    options: {



        title: {
            display: false,
            text: 'Students in Campus'
        },
        legend:{
            display:true,
            position:'bottom',
        },
    },
    plugins:{
        labels: {
            render: 'percentage',
            fontColor: ['green', 'white'],
            precision: 2
            }
    }
});
}
function setchart2() {
    var ctx = document.getElementById('myChart2').getContext('2d');
    ctx.shadowBlur=20;
    ctx.shadowColor="black";
    var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
      labels: ['ADEO1', 'ADEO2' ,'CPI1' ,'CPI2', 'ING1' ,'ING2' ,'ING3' ,'MobM2' ,'QFRM1' ,'QFRM2'], <!--put the prg-->
      datasets: [{
          label: "Cergy(Amount of students)",
          type: "line",
          borderColor: '#26c6da',
          data: {{ D_cergyc }},
          fill: false
        },
          {
          label: "Pau(Amount of students)",
          type: "line",
          borderColor: '#5c6bc0',
          data: {{ D_pauc }},
          fill: false
        },
          {
          label: "Cergy(Mean salary)",
          type: "bar",
          backgroundColor: '#ffe082',
          data: {{ D_cergys }},
        }, {
          label: "Pau(Mean salary)",
          type: "bar",
          backgroundColor: '#bf360c',
          backgroundColorHover: '#ffab91',
          data:{{ D_paus }},
        }

      ]
    },
    options: {
      title: {
        display: false,
        text: 'Population growth (millions): Europe & Africa'
      },
      legend: { display: true ,
                position:'bottom'},
      plugins: {
          labels: false
      }
    }
});

}



// Add subtitle to graph
svg.append("text")
        .attr("x", 0)
        .attr("y", -20)
        .attr("text-anchor", "left")
        .style("font-size", "14px")
        .style("fill", "grey")
        .style("max-width", 400)
        .text("A short description of the take-away message of this chart.");
{% endblock %}
</script>






{% block content %}


    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
      <h1 class="h2">Dashboard</h1>
      <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group mr-2">
          <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
          <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
        </div>
        <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
          <span data-feather="calendar"></span>
          This week
        </button>
      </div>
    </div>


<!-- <div id="map-container-google-2" class="z-depth-1-half map-container" >
  <iframe src="https://maps.google.com/maps?q=paris&t=&z=10&ie=UTF8&iwloc=&output=embed" frameborder="0"
    style="border:0" allowfullscreen></iframe>
</div>
<canvas class="my-4 w-100" id="myChart" width="900" height="380"></canvas> -->

<div class="row" >
          <div class="col-lg-3 col-md-5 col-sm-5 " >
            <div class="card card-stats" >
              <div class="card-body" >
                <div class="row">
                  <div class="col-2 col-md-3" >
                    <img  src="\static\images\record.png" height="40">
                  </div>
                  <div class="col-7 col-md-8">
                    <div class="numbers">
                      <p class="card-category">Number of </p>
                      <p class="card-title" style="color:#0c2646;  font-size:20px ; font-weight: bold ">
                        Records
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-footer ">
                <hr>
                <div class="stats" style="color: #d39e00;" >
                    {{ NUMBERLINES }}
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-5 col-sm-5">
            <div class="card card-stats">
              <div class="card-body ">
                <div class="row">
                  <div class="col-5 col-md-4">

                      <img  src="\static\images\student.png" height="40">

                  </div>
                  <div class="col-7 col-md-8">
                    <div class="numbers">
                      <p class="card-category">Number of </p>
                      <p class="card-title" style="color:#0c2646; font-size:20px ; font-weight: bold ">
                        Students
                        <p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-footer ">
                <hr>
                <div class="stats" style="color: #c82333;" >
                  {{ NUMBERSTU }}
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-5 col-sm-5">
            <div class="card card-stats">
              <div class="card-body ">
                <div class="row">
                  <div class="col-5 col-md-4">


                  </div>
                  <div class="col-7 col-md-8">
                    <div class="numbers">
                      <p class="card-category">Number of </p>
                      <p class="card-title" style="color:#0c2646; font-size:20px ; font-weight: bold ">
                            Enterprises
                        <p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-footer ">
                <hr>
                <div class="stats" style="color: #34ce57;">
                  {{ NUMENT }}
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-5 col-sm-5 " >
            <div class="card card-stats">
              <div class="card-body ">
                <div class="row">
                  <div class="col-5 col-md-4">
                      <img  src="\static\images\salary.png" height="40">
                  </div>
                  <div class="col-7 col-md-8">
                    <div class="numbers">
                      <p class="card-category" >Average of</p>
                      <p class="card-title" style="color:#0c2646; font-size:20px ; font-weight: bold ">
                        Salary
                        <p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-footer ">
                <hr>
                <div class="stats" style="color: #00bbff;">
                  12344
                </div>
              </div>

            </div>
          </div>

</div>
<div class="row">
    <div class="col-lg-4  text-center" >
            <div class="card-chart ">
              <div class="card-header ">
                <h5 class="card-title">Students Distribution</h5>
                <p class="card-category">In Campus</p>
              </div>
               <div class="inside-left">
                    <canvas class="my-4 w-10" id="piechart" width="100%" height="70"></canvas>
                 </div>
              </div>
            </div>


    <div class="col-lg-8 " >
        <div class="card-chart flex-column">
              <div class="card-header ">
                <h5 class="card-title">Salary and amount of students </h5>
                 <p class="card-category">per departments</p>
                <div class="inside">
                    <canvas class="my-4 w-10" id="myChart2" width="100%" height="30"  ></canvas>
                </div>
              </div>
        </div>
        <div class="card-chart flex-column">
              <div class="card-header ">
                <h5 class="card-title">Students per year</h5>
                  <p class="card-category">From 2014 til last year</p>
                  <div class="inside">
                    <canvas class="my-4 w-10" id="myChart" width="100%" height="25" ></canvas>
                </div>
            </div>
        </div>
    </div>
</div>

    <h2>Program Data</h2>
    <div class="table-responsive">
      <table class="table table-striped table-sm">
        <thead>
          <tr>
              <!-- <th>#</th> -->
              <th>ID_ANO</th>
              <th>PRG</th>
              <th>PAYS</th>
              <th>SITE</th>
          </tr>
        </thead>
        <tbody>

            {% for item in query_results %}
            <tr>
                <td>{{ item.ID_ANO }}</td>
                <td>{{ item.PRG }}</td>
                <td>{{ item.PRG }}</td>
                <td>{{ item.SITE }}</td>
            </tr>
            {% endfor %}

        </tbody>
      </table>
    </div>
-->
 <!--   Core JS Files   -->
  <scripst src="../static/assets/js/core/jquery.min.js"></script>
  <scripst src="../static/assets/js/core/popper.min.js"></script>
  <scripst src="../static/assets/js/core/bootstrap.min.js"></script>
  <scripst src="../static/assets/js/plugins/perfect-scrollbar.jquery.min.js"></script>
  
  <scripst src="htdtps://d3js.org/d3-scale-chromatic.v1.min.js"></script>
  <scripst src="https://d3js.org/d3.v4.js"></script> 
  <script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>

{% endblock %}