{% extends "base.html" %}


<script>
{% block jquery %}
$.ajax({
    success: function(data) {
        setchart()
    },
    error: function(error_data){
        console.log("error")
        console.log(error_data)
    }
})
prgcolorset = [
    'rgba(73,170,30,0.4)',
    'rgba(50, 106, 21,0.4)',
    'rgba(219, 58, 29,0.4)',
    'rgba(150, 58, 29, 0.4)',
    'rgba(60, 206, 209, 0.4)',
    'rgba(60, 157, 209, 0.4)',
    'rgba(60, 90, 209, 0.4)',
    'rgba(280, 243, 36, 0.4)',
    'rgba(230, 243, 36, 0.4)',
]
prgcolorborderset =[
    'rgba(73,170,30,1)',
    'rgba(50, 106, 21,1)',
    'rgba(219, 58, 29, 1)',
    'rgba(150, 58, 29, 1)',
    'rgba(60, 206, 209, 1)',
    'rgba(60, 157, 209, 1)',
    'rgba(60, 90, 209, 1)',
    'rgba(280, 243, 36, 1)',
    'rgba(230,243, 36, 1)',

]
function setchart() {
    var ctx = document.getElementById('myChart').getContext('2d');
    ctx.shadowBlur=20;
    ctx.shadowColor="black";
    var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels:[1,2,2,2,3,3,3,4,4] ,
                datasets: [{
                    label: '# of students',
                    data: [1,1,2,2,3,3,3,4,4],
            backgroundColor: prgcolorset ,
            borderColor: prgcolorborderset,
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        },

        title: {
            display: true,
            text: 'Students in department'
        },

        legend: {
            display: true,
            position:'bottom',
        },
        tooltips: {
            mode: 'x'
        }
    }
});

}
{% endblock %}
</script>






{% block content %}


    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
      <h1 class="h2">Dashboard</h1>
      <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group mr-2">
          <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
          <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
        </div>
        <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
          <span data-feather="calendar"></span>
          This week
        </button>
      </div>
    </div>


<!-- <div id="map-container-google-2" class="z-depth-1-half map-container" >
  <iframe src="https://maps.google.com/maps?q=paris&t=&z=10&ie=UTF8&iwloc=&output=embed" frameborder="0"
    style="border:0" allowfullscreen></iframe>
</div>
<canvas class="my-4 w-100" id="myChart" width="900" height="380"></canvas> -->

<div class="row">
  <div class="col-md-3 mb-4 text-center">
    <div class="card card-cascade narrower">
      <div class="card-header">
        <h5 class="my-0 font-weight-normal">Records</h5>
      </div>
      <div class="card-body card-body-cascade text-center">
            
          <h6 class="my-0 font-weight-normal">{{ NUMBERLINES }}</h6>
          
        </div>

    </div>
  </div>
  <div class="col-md-3 mb-4 text-center">
    <div class="card card-cascade narrower">
      <div class="card-header">
        <h5 class="my-0 font-weight-normal">Students</h5>
      </div>

    </div>
  </div>
  <div class="col-md-3 mb-4 text-center">
      <div class="card card-cascade narrower">
        <div class="card-header">
          <h5 class="my-0 font-weight-normal">Enterprises</h5>
        </div>
  
      </div>
  </div>
  <div class="col-md-3 mb-4 text-center">
      <div class="card card-cascade narrower">
        <div class="card-header">
          <h5 class="my-0 font-weight-normal">Programs</h5>
        </div>
  
      </div>
  </div>

</div>



    <h2>Program Data</h2>
    <div class="table-responsive">
      <table class="table table-striped table-sm">
        <thead>
          <tr>
              <!-- <th>#</th> -->
              <th>ID_ANO</th>
              <th>PRG</th>
              <th>PAYS</th>
              <th>SITE</th>
          </tr>
        </thead>
        <tbody>
          
            {% for item in query_results %}
            <tr>
                <td>{{ item.ID_ANO }}</td>
                <td>{{ item.PRG }}</td>
                <td>{{ item.PRG }}</td>
                <td>{{ item.SITE }}</td>
            </tr>
            {% endfor %}

        </tbody>
      </table>
    </div>

{% endblock %}