{% extends "base.html" %}

{% block content %}


    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
      <h1 class="h2">ETL</h1>
      <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group mr-2">
          <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
          <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
        </div>
        <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
          <span data-feather="calendar"></span>
          This week
        </button>
      </div>
    </div>
   

    <h2>Missing Values</h2>
  
    <div class="table-responsive">
       
        <table class="table table-striped table-sm">
        <thead>
          <tr>              
              <th>COLUMN</th>
              <th>NULL COUNT</th>
              <!-- <th>PAYS</th>
              <th>SITE</th> -->
          </tr>
        </thead>
        <tbody>
          
            
            {% for a,b in data %}
            <tr>
                <td>{{ a }}</td>
                <td>{{ b }}</td>
                <!-- <td>{{ c }}</td>
                <td>{{ d }}</td>
                <td>{{ e }}</td> -->
            </tr>
            {% endfor %}

        </tbody>
      </table>

    </div>

{% endblock %}