{% extends "homescreen/base.html" %}
{% load static %}
{% block content %}
<div class="container-fluid">
<div class="container">
    <div class="row">
<div id="demo" class="carousel slide" data-ride="carousel">

  <!-- Indicators -->
  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li>
    <li data-target="#demo" data-slide-to="3"></li>
  </ul>

  <!-- The slideshow -->
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="{% static 'laa3.jpg' %}" alt="Los Angeles" width="1100" height="600">
       <div class="carousel-caption d-none d-md-block">
            <h1 style="color:#f4df41;"> Harness The Power Of Big Data </h1>
            <h2 style="color:#f4df41;"> Grow With Data</h2>
        </div>
    </div>
    <div class="carousel-item">
      <img src="{% static 'la3.jpg' %}" alt="Chicago" width="1100" height="600">
       <div class="carousel-caption d-none d-md-block">
            <h1 style="color:#f4df41;"> Statistics Grammar Of Science </h1>
            <h2 style="color:#f4df41;"> - karl Pearson</h2>
        </div>
    </div>
    <div class="carousel-item">
      <img src="{% static 'laaa6.jpg' %}" alt="New York" width="1100" height="600">
         <div class="carousel-caption d-none d-md-block">
            <h1 style="color:#f4df41;"> Machines Learn - Just Teach Them </h1>
            <h2 style="color:#f4df41;">  The Future of Today </h2>
        </div>
    </div>
    <div class="carousel-item">
      <img src="{% static 'la4.jpg' %}" alt="New York" width="1100" height="600">
         <div class="carousel-caption d-none d-md-block">
            <h1 style="color:#f4df41;"> Data Speaks If You listen </h1>
            <h2 style="color:#f4df41;"> - karl Pearson</h2>
        </div>
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
</div>
   </div>
    </div>
</div>
<!--<div class="container">
    <div class="row">
    <div class="card bg-success offset-md-1 col-md-5" >
   <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a>
     </div>
   </div>
        <div class="card bg-danger col-md-5">
   <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a>
     </div>
   </div>
    </div>
</div> -->

{% endblock content %}
        

        